<!DOCTYPE html>
<html>

<head>
  <title>Premier Link: autenticazione a 2 fattori</title>
</head>

<body>
  <h1>Ciao {{firstName}}!</h1>
  <p>Questo è il tuo codice per accedere a Premier Chat</p>
  <p><strong>{{totp}}</strong></p>
  <p>È valido per {{period}} secondi</p>
</body>

</html>