<!DOCTYPE html>
<html>

<head>
  <title>Premier Link: autenticazione a 2 fattori</title>
</head>

<body>
  <h1>Ciao {{name}}!</h1>
  <p>Questo è il tuo codice per accedere a Premier Link</p>
  <p><strong>{{totp}}</strong></p>
</body>

</html>